### Node
node_modules/
pptx/
out/
dist/

### Editor
workspace.code-workspace

### Testing
__tests__/images
coverage/

### Customer related files
__customer__/
__tests__/pptx-output/
src/dev-customer.ts
